.movieText {
   font-size: 125%;
   text-align: left;
   font-style: italic;
   /*float: left;*/
   color: blue;
}

.movieHeading {
   font-size: 150%;
   color: green;
   text-decoration-line: underline
}